[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jmvReadWrite"]
	path = jmvReadWrite
	url = https://github.com/sjentsch/jmvreadwrite
